.cart__container {
	width: 450px;
	height: 100%;
	background-color: #f6f6f6;
	position: fixed;
	right: 0;
	bottom: 0;
	overflow-y: scroll;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none; /* Firefox */
	&::-webkit-scrollbar {
		display: none;
	}
}
